.cca-info-main {
    padding-top: 30px;
    padding-left: 30px;
}

.cca-explanation {
    text-align: left;
}

.cca-info-picture {
    width: 300px;
    height: 220px;
}

.cca-info-cca-name {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cca-info-cca-paragraph-header {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.cca-info-cca-paragraph {
    margin-bottom: 20px;
}