.login-page {
    background-image: url(../assets/sports-background.jpg);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-message {
    font-size: 40px;
}

.username-field {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
}

.password-field {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.login-button {
    background-color: orange;
    margin-bottom: 20px;
}

.register-link {
    color: rgb(91, 108, 235);
    font-size: 17px;
}

/* Make the divs "disappear" to flatten the markup and make the inputs
and labels as direct children of the grid container */
.login-form > div {
    display: contents;
}

.login-form > label {
    grid-column: 1;
    justify-self: end;
}

.login-form > input {
    grid-column: 2;
    width: 100%;
}

.login-button {
  margin-top: 20px;
  grid-column: 2;
  justify-self: start;
}