.matchmaking-lobby-main {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.matchmaking-lobby-form {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin-top: 20px;
    row-gap: 20px;
    column-gap: 10px;
}

.matchmaking-lobby-header {
    font-size: 1.5rem;
    font-weight: 700;
}