header {
    display: flex;
    align-items: center;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: orange;
  padding: 10px 20px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0;
    list-style: none;
    background-color: orange;
}

.dropdown-link {
    list-style: none;
    color: white;
    margin-bottom: 100px;
}

li {
    margin-bottom: 10px;
}