.profile-picture {
    margin-top: 40px;
    width: 100px;
}

.profile-page-main {
    display: flex;
    gap: 100px;
}

.profile-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 50px;
}

.profile-picture {
    margin-bottom: 15px;
}

.profile-page-username {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
}

.profile-page-user-status {
    font-size: 1.5rem;
    margin-bottom: 35px;
}

.profile-page-user-status::first-letter {
    text-transform: capitalize;
}

.profile-page-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    color: black;
}

.edit-profile-picture-button {
    width: 200px;
    height: 40px;
}

.profile-right {
    margin-top: 70px;
    margin-left: 100px;
}

.profile-form {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 1rem;
    row-gap: 1.3rem;
}

.profile-page-profile-link {
    font-weight: 700;
}

.profile-page-individual-link {
    font-weight: 400;
}

.profile-form > input,
.profile-form > select {
    border: 1px solid;
}