.footer {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    border-top: solid 1px;
}

.links {
    display: flex;
    align-items: center;
    margin-left: 40px;
    gap: 50px;
    margin-right: 20px;
}

.footer-left {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.footer-links {
    color: orange;
}

.footer-sportsync-logo {
    width: 40px;
}